#activateRegister a{
    color: #000000;
    font-weight: bold;
}
#activateRegister a:hover{
    background-color: #E35332;
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-weight: bold;
}
#noAsk a{
    color: #000000;
    font-weight: bold;
}
#noAsk a:hover{
    background-color: #E35332;
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-weight: bold;
}
#tableRMP{
    border:0px solid;
    border-right: 1px solid;
    display: block;
    position:relative;
    top:10px;

}
#txtMode{
    width: 95%;
    position:relative;
    top:10px;
    height:750px;
}
#tdTa{
    display: none;
}
#changeMode{
    font-size: 10px;
    cursor: pointer;
    position: relative;
    display: none;
    left:80%;
    width:20%;
    color:blue;
    top:5px;
    
}

.loadingRPMimg{
    padding: 10px;
}

#loadingRPM{
    display: block;
    text-align:center;	
    position: absolute;
    top:45%;
    left:45%; 

}

