/* TextboxList sample CSS */
ul.holder { 
margin: 0; 
border: 1px solid #999; 
overflow: hidden; 
height: auto !important; 
height: 1%; 
padding: 4px 5px 0; 
}

*:first-child+html ul.holder { 
padding-bottom: 2px; 
} 

* html ul.holder { 
padding-bottom: 2px; 
} /* ie7 and below */

ul.holder li { 
float: left; 
list-style-type: none; 
margin: 0 5px 4px 0; 
white-space:nowrap;
}

ul.holder li.bit-box, ul.holder li.bit-input input { 
font: 11px "Lucida Grande", "Verdana"; 
}

ul.holder li.bit-box { 
-moz-border-radius: 6px; 
-webkit-border-radius: 6px; 
border-radius: 6px; 
border: 1px solid #CAD8F3; 
background: #DEE7F8; 
padding: 1px 5px 2px; 
}

ul.holder li.bit-box-focus { 
border-color: #598BEC; 
background: #598BEC; 
color: #fff; 
}

ul.holder li.bit-input input { 
width: auto; 
overflow:visible; 
margin: 0; 
border: 0px; 
outline: 0; 
padding: 3px 0px 2px; 
} /* no left/right padding here please */

ul.holder li.bit-input input.smallinput { 
width: 20px; 
}

/* Facebook demo CSS */      
#add { 
border: 1px solid #999; 
width: 550px; 
margin: 50px; 
padding: 20px 30px 10px; 
}

form ol li { 
list-style-type: none; 
}

form ol { 
font: 11px "Lucida Grande", "Verdana"; 
margin: 0; 
padding: 0; 
}

form ol li.input-text { 
margin-bottom: 10px; 
list-style-type: none; 
padding-bottom: 10px; 
}

form ol li.input-text label { 
font-weight: bold; 
cursor: pointer; 
display: block; 
font-size: 13px; 
margin-bottom: 10px; 
}

form ol li.input-text input { 
width: 500px; 
padding: 5px 5px 6px; 
font: 11px "Lucida Grande", "Verdana"; 
border: 1px solid #999; 
}

form ul.holder { 
/*width: 500px;*/ 
/*width:350px;*/
    width: 90%;
}

form ul { 
margin: 0 !important 
}

ul.holder li.bit-box, #apple-list ul.holder li.bit-box { 
padding-right: 15px; 
position: relative; 
z-index:1000;
}

#apple-list ul.holder li.bit-input { 
margin: 0; 
}

#apple-list ul.holder li.bit-input input.smallinput { 
width: 5px; 
}

ul.holder li.bit-hover { 
background: #BBCEF1; 
border: 1px solid #6D95E0; 
}

ul.holder li.bit-box-focus { 
border-color: #598BEC; 
background: #598BEC; 
color: #fff; 
}

ul.holder li.bit-box a.closebutton { 
position: absolute; 
right: 4px; 
top: 5px; 
display: block; 
width: 7px; 
height: 7px; 
font-size: 1px; 
background: url('../../../images/close.gif'); 
}

ul.holder li.bit-box a.closebutton:hover { 
background-position: 7px; 
}

ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; 
}

/* Autocompleter */

.facebook-auto { 
display: none; 
position: absolute; 
/*width: 512px; */
/*width: 362px;*/
/*width: 69%;*/
background: #eee; 
}

.facebook-auto .default { 
padding: 5px 7px; 
border: 1px solid #ccc; 
border-width: 0 1px 1px;
font-family:"Lucida Grande","Verdana"; 
font-size:11px; 
}

.facebook-auto ul { 
display: none; 
margin: 0; 
padding: 0; 
overflow: auto; 
position:absolute; 
z-index:9999;
/*width: 362px;*/
width: 78%;
}

.facebook-auto ul li { 
padding: 5px 12px; 
z-index: 1000; 
cursor: pointer; 
margin: 0; 
list-style-type: none; 
border: 1px solid #ccc; 
border-width: 0 1px 1px; 
font: 11px "Lucida Grande", "Verdana"; 
background-color: #eee 
}

.facebook-auto ul li em { 
font-weight: bold; 
font-style: normal; 
background: #ccc; 
}

.facebook-auto ul li.auto-focus { 
background: #4173CC; 
color: #fff; 
}

.facebook-auto ul li.auto-focus em { 
background: none; 
}

.deleted { 
background-color:#4173CC !important; 
color:#ffffff !important;
}

.hidden { 
display:none;
}

#demo ul.holder li.bit-input input { 
padding: 2px 0 1px; 
border: 1px solid #999; 
}

.ie6fix {
height:1px;
width:1px; 
position:absolute;
top:0px;
left:0px;
z-index:1;
}

.sombreado {
    background:none repeat scroll 0 0;
    color:#DCA024;
    font-family:Verdana;
    font-size:12px;
    font-weight:bold;
}

.fielform {
    border-color: transparent;
    /*border-color:#EE9A49;*/
    border-width:thin;
    color:black;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    height:auto;
    position:relative;
    /*width:700px;*/
    width:96%;
}

.fielform2 {
    border-color:#EE9A49;
    border-width:thin;
    color:black;
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    height:auto;
    position:relative;
    /*width:200px;*/
    width:28%;
    height:90px;
    float:left;
}

.delete_email{
    cursor:pointer;
}
.title_email{
    font-family:Verdana,Arial,Helvetica,sans-serif;
    font-size:12px;
    color:#336699;
}

#grilla tr td {
    border-bottom:1px solid #DDDDDD;
}

#grilla tr {
    padding:6px;
    vertical-align:top;
}

/*
#content_date{
    float:left;
}

#content_hour{
    float:left;
    clear:both;
}*/


#box .b {
  background:url(../../../images/b.png);
}

#box .tl {
  background:url(../../../images/tl.png);
}

#box .tr {
  background:url(../../../images/tr.png);
}

#box .bl {
  background:url(../../../images/bl.png);
}

#box .br {
  background:url(../../../images/br.png);
}

#box {
  position: absolute;
  /*position: fixed;
  left: 50%;
  top: 50%;*/
  /*width: 50%;*/
  width: 500px;
  height: 30%;
  margin-top: -15%;
  /*margin-left: -25%;*/

  /*cursor: move;*/
/*  top: 0;
  left: 0;*/
  z-index: 1000;
  text-align: left;
}

#box .popup {
  position: relative;
}

#box table {
  border-collapse: collapse;
}

#box td {
  border-bottom: 0;
  padding: 0;
}

#box .body {
  /*padding: 10px;*/
  padding: 2%;
  background: #fff;
  /*width: 470px;*/
    width: 410px;
}

#box .loading {
  text-align: center;
}

#box .image {
  text-align: center;
}

#box img {
  border: 0;
  margin: 0;
}

#box .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#box .tl, #box .tr, #box .bl, #box .br {
  height: 10px;
  width: 10px;
  overflow: hidden;
  padding: 0;
}

#box_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

#grilla tr td{
    border-bottom:1px solid #DDDDDD;
}

#icals{
    margin-top:5px;
}

#share_calendar, .mlogin{
    margin-top:5px;
}

#loginCalendar{
    text-align: center;
    height:140px;
}

#logoutCalendar{
    text-align: right;
    
}

#other_calendars{
    margin-top:5px;
    height:200px;
}

.title_size{
    height:20px;
    text-align:center;
}

.title_email_to{
    margin: 10px 0px 5px 15px;
}

.content_others{
    margin: 10px;
}

.share_calendar{
    margin: 10px;
}

.content_share{
    margin: 10px 10px 30px 10px;
}

.content_ical{
    margin: 10px;
}

.content_ical a span{
    padding: 2px 2px 2px 15px;
}

.content_ical a:hover{
    color:#3366CC;
}

.button_send{
    padding: 2% 1% 1% 66%;
}

.divCorners {
background:none repeat scroll 0 0 #E8E8E8;
margin-bottom:10px;
margin-top:10px;
padding:10px;
cursor: pointer;
/*width:18em;*/
}

#new_box{
    padding:10px;
}

#edit_box{
    padding:10px;
}

#view_box{
    padding:10px;
}

.titleBox{
    border-bottom: 1px solid #DDDDDD;
    margin-top:10px;
    margin-bottom:10px;
    padding-bottom:5px;
    cursor: move;
}

.CheckBoxClass{

    display: none;

}


.CheckBoxLabelClass{
    background: url("../../../images/UnCheck.png") no-repeat;
    padding-left: 30px;
    padding-top: 5px;
    /*margin: 5px;*/
    height: 20px;
    width: 90%;
    display: block;
    font-family: verdana,arial,helvetica,sans-serif;
    color: #666;
    font-size: 13px;
	font-weight: bold;
}


.CheckBoxLabelClass:hover{

    cursor: pointer;
}

.LabelSelected{

    background: url("../../../images/Check.png") no-repeat;

}



/*para color picker*/


#colorSelector {

    position: relative;

    width: 36px;

    height: 36px;

    background: url(../../../images/select2.png);

}

#colorSelector div {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: url(../../../images/select2.png) center;
}
/*
.colorpicker_hue div {

    background-image: url(../../../images/custom_indic.gif);

}

.colorpicker_hex {

    background-image: url(../../../images/custom_hex.png);

    display: none;
}

.colorpicker_rgb_r {

    background-image: url(../../../images/custom_rgb_r.png);

    display: none;
}

.colorpicker_rgb_g {

    background-image: url(../../../images/custom_rgb_g.png);

    display: none;

}

.colorpicker_rgb_b {

    background-image: url(../../../images/custom_rgb_b.png);

    display: none;

}

.colorpicker_hsb_s {

    background-image: url(../../../images/custom_hsb_s.png);

    display: none;

}

.colorpicker_hsb_h {

    background-image: url(../../../images/custom_hsb_h.png);

    display: none;

}

.colorpicker_hsb_b {

    background-image: url(../../../images/custom_hsb_b.png);

    display: none;
}

.colorpicker_submit {

    background-image: url(../../../images/custom_submit.png);

}

.colorpicker_new_color {
    display: none;
}
.colorpicker_current_color{
    display: none;
}
*/
.spaceTD{
    height:30px;
}

#add_news{
    cursor: pointer; 
    margin: 5px 0px 5px 0px; 
    position: relative; 
    top: 4px; 
    font-family: verdana,arial,helvetica,sans-serif; 
    font-size: 14px;
}

.counter{
    position: relative;
    top: -4px;
    right: 0px;
}

.countExceeded{
    color:#e00;
}

#ui-datepicker-div{
    display: none;
}

#table_box textarea {
	resize: none;
}